* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 66.7%;
}

body {
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  color: white;
  max-width: 1200px;
  width: 100%;
  height: 100vh;
  padding: 10rem;
  background: hsl(0, 100%, 74%);
  background-image: url('images/bg-intro-desktop.png');
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.hero-header {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}

.hero-desc {
  font-size: 4rem;
  line-height: 1.4;
  padding: 2rem 0;
}

.try-button {
  background-color: hsl(248, 32%, 49%);  
  color: white;
  border-radius: 5px;
  width: 100%;
  padding: 1rem 0rem;
  outline: none;
  border: none;

}

.form-container {
  background: white;
  margin-top: 1rem;
  border-radius: 5px;
  text-align: center;
}

input {
  width: 80%;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin: 2rem 0;
  border: 1px solid hsl(246, 25%, 77%) ;
  outline: none;
}

input:focus {
  outline: none;
  border-color: hsl(246, 25%, 77%) ;
}

.submit {
  background-color: hsl(154, 59%, 51%); 
  width: 80%;
  padding: 1rem 2rem;
  color: white;
  border-radius: 5px;
  outline: none;
  border: none;
}
